.icon-1{
    position: relative;
    
}
.Heading-5{
    background: #8455CE99;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    height: unset;
    width: 48%;
    position: absolute;
    top: -28rem;
    left: 15rem;
    z-index: 1;
    clip-path: polygon( 0% 100%, /* top left */ 0% 0%, /* top left */ 100% 0%, /* top right */ 100% 0, /* top right */ 100% 75%, /* bottom right */ 94% 100%, /* bottom right */ 0% 100%, /* bottom left */ 0% 100% /* bottom left */ );
    font-weight: bold;

}   

.diamond{
    position: absolute;
    top: -29rem;
    left: 10rem;
    z-index: 2;
    height: 9rem;
}
.player-text{
    color: #8455CE;
    font-size: 35px;
    font-weight: bold;

}
.head-1{
    color: #ffff;
    margin: 0;
    font-size: 50px;
    text-shadow: 3px 3px 6px #0000008c;
    text-transform: uppercase;
    margin-left: 2rem;
    font-weight: bold;
    
}
.head-2{
      margin: 0;
      color: #ffff;
      font-size: 30px;
      margin-left: 2rem;
}
.section-2{
    margin-top: 2rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.pad{
    padding-left: 10rem;
    padding-right: 10rem;
 
}
.wrap-title{
    color: #8455CE !important;
    font-size: 22px !important;
    padding: 10px !important;
    opacity: 1 !important;
   font-weight: bold;
}
.player-text::after{
    content: "";
    width: 30px;
    height: 3px;
    background: #000;
    display: block;
    margin: 0 auto;
}
.para-style{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #1F1F24;
  opacity: 0.7;
}

.map-image{
    width: 80%;
}
.map-name1{
    position: absolute;
    text-align: left;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    top: 131rem;
    left: 10rem;
}
.map-name2{
    right: 10rem;
    position: absolute;
    text-align: left;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    top: 121rem;
}
.player-text1{
    color: #8455CE;
    font-size: 35px;
    font-weight: bold;
    margin-top: 4rem;
}
.icon-section2{
    padding: 7rem;
}
.last-head{
    color: #8455CE;
    font-weight: bold;
    font-size: 58px;
}


.frame-img{
    width: 22rem;
}
.frame-img1{
    position: absolute;
    width: 7rem;
    left: 4rem;
}
.frame-img2{
    position: absolute;
    width: 7rem;
    left: 32rem;
}
.frame-img3{
    position: absolute;
    width: 7rem;
    left: 60rem;
}
.frame-text{
    position: absolute;
    left: 13rem;
}
.frame-text1{
    position: absolute;
    left: 41rem;
}
.frame-text2{
    position: absolute;
    left: 70rem;
    text-align: left;
}
.btn{
    text-transform: unset;
    text-decoration: none;
    padding: 10px;
    border: 3px solid #8455CE;
    color: #8455CE;
    letter-spacing: unset;
    font-size: 15px;
    background: #fff;
}
.btn:hover{
    background: #8455CE;
    color: #fff;
}
.btn::before{
    content: "";
    width: 21px;
    height: 20px;
    transform: rotate(136deg);
    position: absolute;
    top: 4425px;
    right: 600px;
    background: rgb(255, 255, 255);
    border-width: 0px 3px 0px 0px;
    border-style: solid;
    border-color: rgb(132, 85, 206);
    border-image: initial;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
#card1::before{
    content: '';
    position: absolute;
    left: 63px;
    background: url(https://d323sccto6ke4l.cloudfront.net/images/new_ui/playersupport/before.svg);
    background-size: 30%;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 22;
}
#card1::after{
    top: 271.5rem;
    content: '';
    position: absolute;
    left: 244px;
    background: url(https://d323sccto6ke4l.cloudfront.net/images/new_ui/playersupport/after.svg);
    background-size: 100%;
    width: 11%;
    height: 6px;
    background-repeat: no-repeat;
}

#card2::before{
    content: '';
    position: absolute;
    left: 513px;
    background: url(https://d323sccto6ke4l.cloudfront.net/images/new_ui/playersupport/before.svg);
    background-size: 30%;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 22;
}
#card2::after{
    top: 271.5rem;
    content: '';
    position: absolute;
    left: 680px;
    background: url(https://d323sccto6ke4l.cloudfront.net/images/new_ui/playersupport/after.svg);
    background-size: 100%;
    width: 11%;
    height: 6px;
    background-repeat: no-repeat;
}
#card3::before{
    content: '';
    position: absolute;
    left:963px;
    background: url(https://d323sccto6ke4l.cloudfront.net/images/new_ui/playersupport/before.svg);
    background-size: 30%;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 22;
}
#card3::after{
    top: 271.5rem;
    content: '';
    position: absolute;
    left: 1100px;
    background: url(https://d323sccto6ke4l.cloudfront.net/images/new_ui/playersupport/after.svg);
    background-size: 100%;
    width: 11%;
    height: 6px;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 640px) {
   
    .pad{
         padding: 1rem;
    }
    .diamond {
        position: absolute;
        top: -8rem;
        left: 0rem;
        z-index: 2;
        height: 4rem;
    }
    .head-1{
        font-size: 1rem;
        margin-left: 2rem;
    }
    .head-2{
        display: none;
    }
    .Heading-5{
        top: -7rem;
        left: 2rem;
        height: 33px;
    }
    .map-name1{
        top: 157rem;
        font-size: 8px;
        left: 1rem;
    }
    .map-name2{
        font-size: 8px;
        top: 157rem;
        right: 2rem;
    }
    .player-text{
        font-size: 18px;
    }
    .player-text1{
        font-size: 18px;
    }
    .icon-section2{
        padding: 1rem;
    }
    .last-head{
        font-size: 30px;
        margin-top: 2rem;
    }
    #card1{
        margin-left: 1rem;
    }
    #card2{
        display: none;
    }
    #card3{
        display: none;
    }
    .btn::before{
        top: 4238px;
        right: 101px
    
    }
    .wrapper::-webkit-scrollbar {
        display: none;
    }
    .text-last{
        color: #000;
    }
}