.loc {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(240, 111, 64);
}
.loc1 {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(240, 111, 64);
}
.line {
    text-align: center;
    font-size: 100px;
    font-weight: normal;
    margin-top: -6%;  
}
.line1 {
    text-align: center;
    font-size: 100px;
    font-weight: normal;
    margin-top: -6%;  
}
.su {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.ac {
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
}
.accord {
    font-size: 35px;
    color:coral;
    font-weight: bolder;
}
.wint{
    height:500px;
    margin-top: -60%;
}
.cards {
    background-color: transparent;
    margin-top: -53%;
    margin-left: 28%;
    z-index: 1;
    position: absolute;
    text-align: left;
    color:whitesmoke;
    box-sizing: border-box;
    object-fit: cover;
    background-size: cover;
  }

  .con{
      color:whitesmoke;
      text-shadow: 1px 1px 1px 1px black;
      font-weight: bold;

  }
  .cont{
      color: whitesmoke;
      margin-top: -3%;
  }
  .subs{
      position: absolute;
      margin-top: -22%;
      z-index: 1;
      color:white;
      margin-left:10%;
  }
  .subz{
    position: absolute;
    margin-top: -14%;
    z-index: 1;
    color:white;
    margin-left:10%;
}
.subzz{
    position: absolute;
    margin-top: -14%;
    z-index: 1;
    color:white;
    margin-left:5%;
}
.fir{
    display: block;
}
.firl{
    display: block;
    width: 230px;
    height: 20px;
    border: none;
}
.firt{
    display: grid;
    padding-top: 2%;
}
.sec{
    display: block;
    margin-top: -9%;
    margin-left: 53%;
}
.sect{
    display: block;
    margin-top: -9%;
    margin-left: 53%;
}
.secl{
    display: block;
    margin-left: 53%;
    width: 230px;
    height: 20px;
    border: none;
}
.msgl{
    display: block;
    font-size: 20px;
    width: 500px;
    height: 75px;
    resize: none;
    border: none;
}
.sbtn{
    font-size: 15px;
    font-weight: bold;
    margin-top: 4%;
    border-radius: 2px;
    border: transparent;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    opacity: .5;
}
.sbtn:hover{
    cursor: pointer;
}
.opt{
    display: block;
    width: 230px;
    height: 23px;
}

.txh{
    text-align: left;
    font-weight: bold;
}
.txi{
    color:coral;
}
.txa{
    text-decoration: underline;
}
.txp{
    text-align: left;
    padding-bottom: 10%;
    padding-left: 10%;
    color:black;
}
.txtp{
    text-align: left;
    padding-left: 10%;
    color:black;
}
.txth{
    text-align: left;
    margin-top:-1%;
    font-weight: bold;
}

section{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.wrapper5{
    margin: 2rem auto;
    margin-top: 3rem;
}
.AllCounters{
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-image: url("..\\..\\assets\\images\\sub_bg.png");
    object-fit: cover;
    background-size: cover;
    height: 300px;
}
.AllCounters .kkk{
    margin: 0 auto;
    display: flex;
    width: 100%;
}
.AllCounters .kkk div{
    width: 100%;
}
.AllCounters p{
    color: white !important;
    padding: 0 !important;
    font-size: 50px;
    letter-spacing: 0px;
    display: block;
    font-weight: 800;
    line-height: 1;
    margin: 0;
    margin-top: 80px;
}
.AllCounters h4{
    color: white !important;
    padding: 0 !important;
}

.leaftlet-container {
    width:100%;
    height: 100vh ;
}



@media only screen and (max-width: 600px) {
.cards{
    display:none;
}

.su{
    padding-top: 20%;
    padding-bottom: 20%;
    height: 250%;
}
.subs{
    display: block;
    font-size: small;
}
.subz, .subzz{
    display: block;
    font-size: small;
}
.accord{
    font-size: 20px;
}


.wint, .mp, .loc, .line{
    display: none;
}

.AllCounters{
    width: 100%;
    margin: 0 auto;
}
.AllCounters .kkk{
    margin: 2.5rem auto;
    display: block;
}
.AllCounters p{
    font-size: 20px;
    margin-top: 0px;

}
.wrapper5{
    margin: 1rem auto;
}

.txp{
    padding-left: 12%;
}
.txtp{
    padding-left: 12%;
}

    }