.he1 {
    z-index: 9999;
    position: relative;
    color: whitesmoke;
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    text-align: left;
    padding-left: 12%;
    margin-top: -29%;
    font-family: sans-serif;
    margin-bottom: 25%;
}
.video {
    justify-content: center;
    position: relative;
}

.im {
    height: 90%;
}
.im:hover{
    height: 120%;
    z-index: 1;
    cursor: pointer;
}
.im1{
    height: 90%;
    margin-left: 70%;
    margin-top: 5%;
}
.im1:hover{
    height: 120%;
    z-index: 1;
    cursor: pointer;
}
.im2{
    height: 90%;
    margin-right: 70%;
    margin-top: 5%;
}
.im2:hover{
    height: 120%;
    z-index: 1;
    cursor: pointer;
}
.imt{
    margin-top: -1%;
}
.imt1{
    margin-left: 70%;
    margin-top: -1%;
}
.imt2{
     margin-right: 70%;
     margin-top: -1%;
}
.bo {
    height: 30%;
    position: absolute;
    margin-left: -36.5%;
    margin-top: -1%;
}
.bor {
    height: 160px;
    position: relative;
    z-index: 1;
}
.btex {
    font-weight:600;
    position: absolute;
    margin-top: -8%;
    margin-left: 23%;
    font-size: 25px;

}
.btext {
    font-weight: 600;
    position: absolute;
    margin-top: -9%;
    margin-left: 23%;
    font-size: 25px;
    text-overflow: ellipsis;
}
.be{
white-space: nowrap; 
width: 195px; 
overflow: hidden;
text-overflow: ellipsis; 
border: transparent;
font-weight: 600;
position: absolute;
margin-top: -9%;
margin-left: 23%;
font-size: 25px;
text-align: left;
}
.borde{
    margin-top: 5%;
    width: 800px;
    position: relative;
    margin-left: 30%;
    z-index: 1;
    margin-top: 7%;
}
.bimg{
    width: 27%;
    position: absolute;
    margin-left: -57%;
    margin-top: 5.5%;
}
.rbtn{
    margin-top: -20%;
    position: relative;
    margin-left: 70%;
    text-align: left;
    margin-bottom: 15%;
}
.rebtn{
    position: absolute;
    font-size: 15px;
    background-color: white;
    color:tomato;
    margin-left: 20%;
    margin-top:-13%;
    z-index: 1;
    border:1px solid tomato;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.rebtn:hover{
    cursor: pointer;
    border: 1px solid tomato;
    background-color: tomato;
    color: white;
    border-radius: 7%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.blkimg{
    position: absolute;
    margin-left:-40%;
    margin-top:7%;
}
.blkimg:hover{
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
.he1{
        display: none;
}
.im, .im1, .im2, .imt, .imt1, .imt2{
    display: none;
}
.blkimg {
    display: none;
}
.bor {
    width:90%;
    margin-top: -18%;
}
.bo{
    width:30%;
    height:20%;
    margin-top:-13%;
    margin-left: -85%;

}
.be{
    width:30%;
    height:20%;
    margin-right:-50%;
    font-size: 15px;
    margin-top: -28%;
    margin-left: 50%;
}

.btext, .btex{
    width:30%;
    height:20%;
    font-size: 15px;
    margin-top: -29%;
    margin-left: 50%;
}
.borde{
    width:95%;
    margin-left: -1.5%;
}
.bimg{
    width:45%;
    margin-left: -92%;
    margin-top: 3%;
    
}
.rbtn {
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 57%;
    margin-top: -25%;
}
.rebtn{
    font-size: 10px;
    font-family: sans-serif;
    margin-left:6%;
}


}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }